<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--quarz配置 start-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.zr.wechatProj.autoTask.WeChatAutoTask"></property>
    </bean>

    <!--触发器-->
    <!--<bean id="cornTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"></property>
        &lt;!&ndash;触发间隔&ndash;&gt;
        <property name="cronExpression" value="0 0 0/1 * * ? "></property>
        &lt;!&ndash;测试，1分钟一次
                <property name="cronExpression" value="0 0/1 * * * ?"></property>
        &ndash;&gt;
    </bean>-->
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="startDelay" value="1000"/>
        <property name="repeatInterval" value="90000"/>
    </bean>

    <!--任务调度器-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers" ref="simpleTrigger"></property>
    </bean>
    <!--quarz配置 end-->

    <!--dataSource start-->
    <bean id="dbcp" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="username" value="root"/>
        <property name="password" value="root123"/>
        <property name="url"
                  value="jdbc:mysql://120.77.200.193:3306/wechat?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!--连接初始值-->
        <property name="initialSize" value="3"/>
        <!--最小空闲值-->
        <property name="minIdle" value="3"/>
        <!--最大空闲值-->
        <property name="maxIdle" value="5"/>
        <!--连接池最大值-->
        <property name="maxTotal" value="15"/>
    </bean>
    <!--dataSource end-->

    <!--mybatis start-->
    <!--<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dbcp"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        &lt;!&ndash;指定Dao所在的包&ndash;&gt;
        <property name="basePackage" value="com.zr.wechatProj.dao"/>
    </bean>-->
    <!--mybatis end-->

    <!--事物控制-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dbcp"/>
    </bean>

    <!--@Transactional注解配置-->
    <tx:annotation-driven transaction-manager="txManager"/>
</beans>